{% extends "admin/base_site.html" %}
    
{% load i18n static jazzmin %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}
{% block bodyclass %}{{ block.super }} dashboard{% endblock %}


{% block content_title %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        .container {
            background-color: #009977;
            border-radius: 10px;
            padding: 10px;
            color: white;
            width: 80%;
            margin: auto;
        }
        .card {
            background-color: white;
            border-radius: 8px;
            color: black;
            padding: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        }
        canvas {
            width: 100% !important;
            height: 300px; /* Высота канваса для лучшей видимости */
        }
        input[type="range"] {
            width: 100%;
            margin-top: 20px;
        }
    </style>
    <div class="row">
        <div class="col-lg-8">
            <h1> {% trans 'Django Administration Turkmen Version' %} <img src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Flag_of_Turkmenistan.svg" alt="Flag" style="width: 24px; vertical-align: middle;"></h1>
        </div>
        
    </div>

{% endblock %}

{% block breadcrumbs %}
    <div class="row">
        <div class="col-lg-10">
            <ol class="breadcrumb" style="background-color: #009977; color: #FFFFFF;">
                <li class="breadcrumb-item"><a href="{% url 'admin:index' %}" style="color: #FFFFFF;">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item" style="color: #FFFFFF;">TM EDITION Ayhanchik✌️</li>
            </ol>
        </div>
        
        <div class="col-lg-10 mt-3" style="background-color: #009977;border-radius: 10px; padding: 10px;">
            <div class="col-lg-10" style="">
                <h5 style="color: white;">
                 {% trans 'Visit to the Admin panel page' %}   
                </h5>
            </div>
            <hr>
            <div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card" >
                            <div class="card-header" style="background-color: white; color: #FFFFFF;">
                                <canvas id="visit-chart"></canvas>
                            </div>
                        </div>
                        
                    </div>

                    
                </div>
                
                <script>
                    // Инициализация или обновление счётчика посещений
                    if (!localStorage.getItem('visits')) {
                        localStorage.setItem('visits', JSON.stringify([0, 0, 0, 0, 0, 0, 0]));
                    }
                
                    const visitData = JSON.parse(localStorage.getItem('visits'));
                    const dayOfWeek = new Date().getDay(); // Получаем день недели (0-воскресенье, 6-суббота)
                    visitData[dayOfWeek]++;
                    localStorage.setItem('visits', JSON.stringify(visitData));
                
                    // Функция для генерации дат последних 7 дней
                    function getLast7DaysLabels() {
                        const labels = [];
                        for (let i = 6; i >= 0; i--) {
                            const d = new Date();
                            d.setDate(d.getDate() - i);
                            labels.push(d.toLocaleDateString()); // Используем формат даты по умолчанию
                        }
                        return labels;
                    }
                
                    const ctx = document.getElementById('visit-chart').getContext('2d');
                    const visitChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: getLast7DaysLabels(), // Используем функцию для генерации меток
                            datasets: [{
                                label: '{% trans 'How many times have you visited the admin panel' %}',
                                data: visitData,
                                borderColor: 'rgb(75, 192, 192)',
                                backgroundColor: 'rgba(75, 192, 192, 0.5)',
                                fill: true
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                </script>
                
            
            
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            {% get_side_menu using="app_list" as dashboard_list %}
            {% if dashboard_list %}
                {% widthratio dashboard_list|length 2 1 as middle %}
            {% endif %}

            <div class="row">
                {% for app in dashboard_list %}
                    <div class="col-md-6 col-sm-12">
                        <div class="card mb-4">
                            <div class="card-header" style="background-color: #009977; color: #FFFFFF;">
                                <h5 class="m-0">{{ app.name }}</h5>
                            </div>
                            <div class="card-body">
                                <table class="table table-sm">
                                    <tbody>
                                    {% for model in app.models %}
                                        <tr>
                                            <td>
                                                {% if model.url %}<a href="{{ model.url }}">{{ model.name }}</a>{% else %}{{ model.name }}{% endif %}
                                            </td>
                                            <td class="text-right">
                                                <div class="btn-group">
                                                    {% if model.add_url %}
                                                        <a href="{{ model.add_url }}" class="btn btn-xs {{ jazzmin_ui.button_classes.success }} addlink">{% trans 'Add' %}</a>
                                                    {% endif %}
                                                    {% if model.url %}
                                                        {% if model.view_only %}
                                                            <a href="{{ model.url }}" class="btn btn-xs {{ jazzmin_ui.button_classes.info }} viewlink">{% trans 'View' %}</a>
                                                        {% else %}
                                                            <a href="{{ model.url }}" class="btn btn-xs {{ jazzmin_ui.button_classes.info }} changelink">{% trans 'Change' %}</a>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    {% if forloop.counter == middle|add:"0" %}
                        <div class="clearfix"></div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-lg-12">
        <div id="content-related">
            <div class="module" id="recent-actions-module">
                <h4 class="mb-3" style="color: #009977;">{% trans 'Recent Actions' %}</h4>
                {% load log %}
                {% get_admin_log 6 as admin_log for_user user %}
                {% if not admin_log %}
                    <p>{% trans 'No actions available' %}</p>
                {% else %}
                    <div class="timeline">
                        {% for entry in admin_log %}
                            <div>
                                {% if entry.is_change %}
                                    <i class="fas fa-edit bg-gray text-xs"></i>
                                {% elif entry.is_deletion %}
                                    <i class="fas fa-trash bg-danger text-xs"></i>
                                {% elif entry.is_addition %}
                                    <i class="fas fa-plus-circle bg-success text-xs"></i>
                                {% endif %}

                                <div class="timeline-item">
                                    <span class="time"><i class="fas fa-clock"></i> {% blocktrans with timesince=entry.action_time|timesince %}{{ timesince }} ago{% endblocktrans %}</span>
                                    <h3 class="timeline-header no-border" style="color: #009977;">
                                        {% if entry.is_deletion or not entry.get_admin_url %}
                                            {{ entry.object_repr }}
                                        {% else %}
                                            <a href="{{ entry.get_admin_url }}" style="color: #009977;">{{ entry.object_repr }}</a>
                                        {% endif %}

                                        {% if entry.model %}
                                            <span class="mini quiet" style="color: #009977;">
                                                {% filter capfirst %}
                                                    {{ entry.model }}
                                                {% endfilter %}
                                            </span>
                                        {% endif %}
                                    </h3>
                                    {% if not entry.is_deletion %}
                                        <div class="timeline-body">
                                            {% if entry.is_addition %}
                                                {{ entry }}
                                            {% else %}
                                                <ul style="list-style: none; padding: 0;">
                                                    {% action_message_to_list entry as action_message_list %}
                                                    {% for action_message in action_message_list %}
                                                        <li>{{ action_message.msg|style_bold_first_word }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <div>
                            <i class="fa fa-clock bg-gray"></i>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>

</div>
{% endblock %}

